{% extends 'base.html.twig' %}


{% block title %}Eco IT | Formation{% endblock %}

{% block body %}




<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-3">
            <nav class="navbar navbar-expand-lg navbar-light bg-light mt-2 mt-lg-5">

                {# <a class="navbar-brand" href="#">Navbar</a> #}
                <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="bi bi-list-nested"></span>
                    
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-3  flex-column">
                        {% for sectionTemp in course.sections %}
                        {% if sectionTemp.lessons | length >0 %}
                        <li class="nav-item text-bold">
                            <span class="fs-4">&#x23F5;</span> {{sectionTemp.title | capitalize}}

                            {# <a href="{{section.slug}}">{{section.title}}</a> #}

                            <ul class="navbar-nav me-auto mb-2 mb-lg-0  flex-column">
                                {% for lessonTemp in sectionTemp.lessons %}
                                <li class="nav-item">
                                    <a class="nav-link text-secondary bold"
                                        href="{{path('lesson',{slugCourse:course.slug,slugSection:sectionTemp.slug,slugLesson:lessonTemp.slug})}}"><span class="ps-3">&#x27A5;</span> {{lessonTemp.title}} <span class="bi bi-check text-dark"></span></a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>

                </div>
            </nav>
        </div>
        
        <div class="col-12 col-lg-9 mt-3 mt-lg-5 course-content">
            <h1 class="text-center fs-3">{{course.title}}</h1>
            <h2 class="text-center fs-3 my-4">{{lesson.title}}</h1>
            {# {% set media = lesson.media | replace({'https://www.youtube.com/watch?v=': "https://www.youtube-nocookie.com/embed/", 'https://youtu.be/': "https://www.youtube-nocookie.com/embed/"})%} #}
            {% set media = lesson.media | replace({'https://www.youtube.com/watch?v=': "https://www.youtube.com/embed/", 'https://youtu.be/': "https://www.youtube.com/embed/"})%}
            <div class="d-flex col-lg-8 video offset-lg-2 my-4">
    
                <iframe src="{{media }}" title="{{lesson.title}} | Video" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            {{lesson.content | raw}}

            {# only for students #}
            {% if isFinnished is not null %}
            <form action="" method="GET" class="d-flex justify-content-center align-content-center fs-5 ">
                <div class="form-check mt-4 lesson-check-form">
                    <div class="m-2">

                        <input class="form-check-input " type="checkbox" value="true"  name="lesson-complete"  id="lesson-complete" onChange="this.form.submit()"  {% if isFinnished %}checked disabled{% endif %}>
                        <label class="form-check-label " for="lesson-complete">
                            Leçon terminée
                        </label>

                    </div>
                </div>
            </form>
            {% endif %}
            
            
        </div>
    </div>
</div>
<script src="{{asset('js/highlight.min.js')}}"></script>
<script>hljs.highlightAll();</script>

{% endblock %}