<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="copyright" content="EcoIT" />
    <meta name="description"
        content="Eco It est un organisme de formation qui a pour but d'aider les développeurs à réduire leur empreinte écologique. ">
    <title>{% block title %}EcoIT | Des formations informatiques éco-responsables{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>

    {% set teacher = app.user is not null ?  app.user.teacher:null %}
    {% set admin = app.user is not null ?  app.user.admin:null %}
    {% set student = app.user is not null ?  app.user.student:null %}
    {% if allow is not defined %}
    {% set allow = false %}
    {% endif %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light w-100 mt-auto position-relative">
            <div class="container-fluid">
                <a class="ms-3 mt-auto" href="{{path('home')}}"><img class="logo" src="/img/eco_it_logo.png" alt=""></a>

                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse align-self-end" id="navbarNavDropdown">
                    <ul class="navbar-nav mx-auto mt-4 mt-lg-0 ">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            
                            <li class="nav-item authentification ">
                                <ul class="navbar-nav ms-auto flex-row  w-100 ">
                                    <li class="nav-item position-relative col-6 col-lg-auto ">
                                        <a class="nav-link fs-6 text-center {% if app.request.attributes.get('_route') starts with 'login' %}active{% endif %}"
                                            href="{{path('logout')}}"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                                                <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                                              </svg></span> SE DECONNECTER</a>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER')   %}
                                        <li class="nav-item mx-4 position-relative col-6 col-lg-auto">
                                            <a class="nav-link fs-6 text-center {% if app.request.attributes.get('_route') starts with 'student.register' %}active{% endif %}"
                                                href="{{path('admin')}}"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                                                    <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                                                    <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
                                                  </svg></span> ADMINISTRATION</a>
                                        </li>
                                    {% else %}
                                    {# empty column #}
                                        <li class="nav-item mx-4 position-relative col-6 col-lg-auto">
                                            
                                        </li>
                                    {% endif %}

                                    
                                </ul>
                            </li>

                            {% else %}

                            <li class="nav-item authentification ">
                                <ul class="navbar-nav ms-auto flex-row  w-100 ">
                                    <li class="nav-item position-relative col-6 col-lg-auto ">
                                        <a class="nav-link fs-6 text-center {% if app.request.attributes.get('_route') starts with 'login' %}active{% endif %}"
                                            href="{{path('login')}}"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                                                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                              </svg></span> CONNEXION</a>
                                    </li>
                                    <li class="nav-item mx-4 position-relative col-6 col-lg-auto">
                                        <a class="nav-link fs-6 text-center {% if app.request.attributes.get('_route') starts with 'student.register' %}active{% endif %}"
                                            href="{{path('student.register')}}">INSCRIPTION</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        <li class="nav-item position-relative mt-2 mt-lg-0">
                            <a class="nav-link fs-5 position-relative text-center {% if app.request.attributes.get('_route') == 'home' %}active{% endif %}"
                                aria-current="page" href="{{path('home')}}">Accueil</a>
                        </li>
                        <li class="nav-item ms-xl-4 position-relative">
                            <a class="nav-link fs-5 position-relative text-center {% if app.request.attributes.get('_route') == 'course' %}active{% endif %}"
                                href="{{path('course')}}">Formations</a>
                        </li>
                        {% if is_granted('ROLE_TEACHER')   %}
                        <li class="nav-item ms-xl-4 position-relative ">
                            <a class="nav-link fs-5 text-center {% if app.request.attributes.get('_route') == 'courses.teacher' %}active{% endif %}"
                                href="{{path('courses.teacher',{id:teacher.id})}}">MES FORMATIONS</a>
                        </li>
                        {% elseif is_granted('ROLE_STUDENT') %}
                        <li class="nav-item ms-xl-4 position-relative ">
                            <a class="nav-link fs-5 text-center {% if app.request.attributes.get('_route') == 'courses.student' %}active{% endif %}"
                                href="{{path('courses.student',{id:student.id})}}">MES FORMATIONS</a>
                        </li>
                        {% elseif not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            
                        <li class="nav-item ms-xl-4 position-relative ">
                            <a class="nav-link fs-5 text-center {% if app.request.attributes.get('_route') == 'teacher.register' %}active{% endif %}"
                                href="{{path('teacher.register')}}">DEVENIR FORMATEUR</a>
                        </li>
                        {% endif %}

                        <li class="nav-item position-relative ms-xl-4">
                            <a class="nav-link  fs-5 text-nowrap position-relative text-center {% if app.request.attributes.get('_route') == 'about' %}active{% endif %}"
                                href="{{path('about')}}">A propos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block body %}{% endblock %}
    <footer class="small">
        <div class="container py-3 py-sm-5">
            <div class="row">
                <div
                    class="col-12 col-sm-6 col-md-4 d-flex justify-content-center justify-content-lg-start align-items-center flex-column">
                    <div>
                        <h6 class="text-center">Plans de site</h6>
                        <ul class="list-unstyled">
                            <li class="nav-item text-center"><a class="nav-link px-0" href="{{path('home')}}">Accueil</a></li>
                            <li class="nav-item text-center"><a class="nav-link px-0" href="{{path('course')}}">Formations</a></li>
                            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="nav-item text-center"><a class="nav-link px-0" href="{{path('teacher.register')}}">Devenir formateur</a></li>
                            {% endif %}
                            <li class="nav-item text-center"><a class="nav-link px-0" href="{{path('about')}}">A propos</a></li>
                        </ul>
                    </div>
                </div>
                <div
                    class="col-12 col-sm-6 col-md-4 d-flex justify-content-center justify-content-lg-start align-items-center flex-column">
                    <div>
                        <h6 class="text-center">Informations</h6>
                        <ul class=" list-unstyled">
                            <li class="nav-item text-center"><a class="nav-link px-0 " href="#">Gestion des cookies</a>
                            </li>
                            <li class="nav-item text-center"><a class="nav-link px-0" href="#">Politique de
                                    confidentialité</a></li>
                            <li class="nav-item text-center">
                                <a class="nav-link px-0" href="#">Mentions légales</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div
                    class="col-12 col-sm-6 col-md-4 d-flex justify-content-center justify-content-lg-start align-items-center flex-column">
                    <div>
                        <h6>Réseaux sociaux</h6>
                        <ul class="list-unstyled">
                            <li class="nav-item text-center"><a class="nav-link px-0" href="#">Facebook</a></li>
                            <li class="nav-item text-center"><a class="nav-link px-0" href="#">Twitter</a></li>
                            <li class="nav-item text-center"><a class="nav-link px-0" href="#">Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">
                    <ul class="list-inline d-flex justify-content-center align-items-center mt-4 ">
                        <li class="list-inline-item">&copy; EcoIT 2022 Tous droits réservés.</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>